:root{
    --cor-principal: #7DF8FF;
    --cor-secundaria: #46ADB3;
    --cor-terciaria: #B9FCFF;
    --cor-link: #B5947F;
}

*{
    margin: 0;
    padding: 0%;
}

.menu1{
    background:var(--cor-secundaria);
}
.paginas{
    width: 100%;
    height: 20%;
}
.texto{
    
}