.paginas{
    width: 50%;
    margin: 0;
    padding: 0%;
}
*{
    margin: 0;
    padding: 0%;
}
.menu1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
}
.menu2{
    background: #b0884c;
}